<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Leen's personal homepage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="css/libs/plugins.css">
    <link rel="stylesheet" href="css/ccpt_3_rx.css">
    <link rel="stylesheet" href="css/pages/index.css">
</head>

<body>

<div id="app">
    <!--[if lte IE 9]>
    <p class="browserupgrade">推荐使用谷歌浏览器或火狐浏览器</p>
    <![endif]-->
    <div id="wrapper" class="wrapper">
        <span class="cursor"></span>
        <top-nav></top-nav>
        <div class="hero-area bg-white">
            <div class="container">
                <div class="hero-area-inner">
                    <div class="hero-area-text">
                        <h1>
                            {{signature}}
                        </h1>
                        <h5><i class="fa fa-heart text-danger"></i>{{currentHeart}}</h5>
                        <a href="feeling.html" class="readmore fa fa-user-circle">About me</a>
                    </div>
                    <div class="hero-area-image">
                        <img src="img/slider/slider-image-1.png">
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <span title="累计浏览次数">
                                    <i class="fa fa-eye fa-lg"></i>
                                    <span class="visit-counter">{{count.visit}}</span>
                                </span>
                            </li>
                            <li>
                                <span title="累计发表文章">
                                    <i class="fa fa-pencil fa-lg"></i>
                                    <span class="publish-counter">{{count.article}}</span>
                                </span>
                            </li>
                            <li>
                                <span @click="shareWebsite" class="share" title="网站分享">
                                    <i class="fa fa-share-alt fa-lg"></i>
                                    <span class="share-counter">{{count.share}}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <main class="page-content">
            <div class="cr-section blog-area section-padding-top-lg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 article-title">
                            <div class="section-title text-center">
                                <h2>文章</h2>
                                <p>More<i class="fa fa-angle-double-right"></i></p>
                            </div>
                        </div>
                    </div>
                    <article-list :items="articleItems" :count-per-page="countPerPage"></article-list>
                </div>
            </div>
            <div class="cr-section services-area section-padding-xs bg-white">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 leaving-message-title">
                            <div class="section-title text-center">
                                <h2>留言</h2>
                                <p>More<i class="fa fa-angle-double-right"></i></p>
                            </div>
                        </div>
                    </div>
                    <leaving-message-list :items="leavingMessageItems" :visible-count="defaultLeavingMessageVisibleCount"></leaving-message-list>
                </div>
            </div>
            <div class="cr-section portfolios-area section-padding-xs bg-white">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 photos-title">
                            <div class="section-title text-center">
                                <h2>相册</h2>
                                <p>More<i class="fa fa-angle-double-right"></i></p>
                            </div>
                        </div>
                    </div>
                    <photo-list :items="photoItems"></photo-list>
                </div>
            </div>
        </main>
        <bottom></bottom>
    </div>
    <to-top></to-top>
</div>
</body>


</html>
<script src="js/libs/vendor/jquery-3.3.1.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/libs/plugins.js"></script>
<script src="js/libs/vue.min.js"></script>
<script src="js/dateUtil.js"></script>
<script src="js/layerUtil.js"></script>
<script src="js/filters/simple-show.js"></script>
<script src="js/filters/datetime-diff.js"></script>
<script src="js/component/bottom.js"></script>
<script src="js/component/nav.js"></script>
<script src="js/component/article-list.js"></script>
<script src="js/component/toTop.js"></script>
<script src="js/component/leaving-message-tip-group.js"></script>
<script src="js/component/leavingMessage-list.js"></script>
<script src="js/component/photo-list.js"></script>
<script src="js/libs/clipboard.min.js"></script>
<script src="js/color-console.js"></script>
<script src="js/pages/index.js"></script>
