<!doctype html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Karigor - Portfolio Bootstrap4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="css/libs/animate.css">
    <link rel="stylesheet" href="css/libs/plugins.css">
    <link rel="stylesheet" href="css/ccpt_3_rx.css">
    <link rel="stylesheet" href="css/pages/photos-details.css">
</head>

<body>
<div id="app">
    <!--[if lte IE 9]>
    <p class="browserupgrade">推荐使用谷歌浏览器或火狐浏览器</p>
    <![endif]-->
    <div id="wrapper" class="wrapper">
        <span class="cursor"></span>
        <top-nav></top-nav>
        <second-nav :items="secondLevelNavList"></second-nav>
        <main class="page-content">
            <div class="cr-section portfolio-details-area section-padding-lg bg-white">
                <div class="container">
                    <div class="show-type">
                        <button class="fa fa-window-restore fa-lg btn-lg" id="roll" :class="{active:isRoll}"
                                @click="toggleType"></button>
                        <button class="fa fa-list-ul fa-lg btn-lg" id="list" :class="{active:!isRoll}"
                                @click="toggleType"></button>
                    </div>
                </div>
                <roll-show v-if="isRoll" @img-click="changeImage" :image-obj="defaultImage"></roll-show>
                <list-show v-else :photo-list="photos" @img-click="changeImage"></list-show>
            </div>
        </main>
        <bottom></bottom>
    </div>
    <to-top></to-top>
    <modal :html-ele="content" :image-obj="defaultImage"></modal>
</div>
</body>
</html>
<script src="js/libs/vendor/jquery-3.3.1.min.js"></script>
<script src="js/dateUtil.js"></script>
<script src="js/layerUtil.js"></script>
<script src="js/libs/vue.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/libs/plugins.js"></script>
<script src="js/filters/datetime-diff.js"></script>
<script src="js/filters/simple-show.js"></script>
<script src="js/directives/random-tag-bg.js"></script>
<script src="js/component/bottom.js"></script>
<script src="js/component/nav.js"></script>
<script src="js/component/second-level-nav.js"></script>
<script src="js/component/photo-list.js"></script>
<script src="js/component/toTop.js"></script>
<script src="js/component/photos-show-roll.js"></script>
<script src="js/component/photos-show-list.js"></script>
<script src="js/component/page-helper.js"></script>
<script src="js/color-console.js"></script>
<script src="js/pages/photos-details.js"></script>


