/*.about-me-content {*/
/*    min-height: 600px;*/
/*}*/

/*.about-me-title-left {*/
/*    background-color: #607a9d;*/
/*    min-height: 80px;*/
/*    border-radius: 5px 30px 30px 5px;*/
/*    color: #fff;*/
/*    font-weight: 600;*/
/*    padding: 0;*/
/*    font-size: 25px;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*}*/

/*.a1 {*/
/*    padding-top: 20px;*/
/*}*/

/*.a1:after {*/
/*    content: "|";*/
/*    padding-left: 5px;*/
/*}*/

/*.a2 {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding: 0px 5px;*/
/*    height: 100%;*/
/*}*/

/*.a2 span {*/
/*    font-size: smaller;*/
/*    padding: 3px 0;*/
/*    font-family: 宋体;*/
/*    height: 50%;*/
/*}*/

/*.about-me-title-right {*/
/*    background-color: #fff;*/
/*    min-height: 80px;*/
/*}*/

/*.a3 {*/
/*    margin-top: -100px !important;*/
/*}*/

/*.a3 span:nth-child(1){*/
/*    border-right: 1px solid #808080;*/
/*}*/
/*.a3 span:nth-child(2){*/
/*    width: 100%;*/
/*}*/
:app {
    --gray: #808080;
    --white: #fff;
    --black:#333333;
}

.info-1, .info-2 {
    box-shadow: 5px 5px 5px var(--gray);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #dddddd;
}

.accent {
    line-height: 14px;
    color: var(--dark);
}

.white {
    color: var(--white);
}

.img-circle {
    border-radius: 50%;
    border: 2px solid #808080;
    height: 100px;
    width: 100px;
}

.about, .skills,
.education, .languages,
.contact, .experience {
    padding: 40px;
    min-height: 330px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px #808080;
}

.education, .languages,
.contact, .experience {
    margin-top: 30px;
}

.about {
    background: #fff;
    border: 1px solid #dddddd;
}

.about span p {
    min-height: 150px;
}

.skills {
    background: #808080;
    color: #f5f5f5;
}

.skills .progress {
    border-radius: 0px;
    height: 4px;
}

.skills .progress .progress-bar-primary {
    background: #383838;
}

.skills strong {
    display: inline-block;
    font-weight: normal;
}

.education {
    background: #808080;
    color: #f5f5f5;
}

.education .row {
    margin-bottom: 10px;
}

.education .row span:nth-child(1) {
    min-height: 40px
}

.education .row span:nth-child(2) {
    margin-top: 0px;
}

.languages {
    background: #fff;
    border: 1px solid #dddddd;
}

.languages ul {
    padding: 10px;
}

.languages ul li {
    padding-bottom: 6px;
}


.contact {
    background: #fff;
    border: 1px solid #dddddd;
}

.contact .fa {
    padding-right: 6px;
}

.experience {
    background: #666666;
    color: #f5f5f5;
}

.experience h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.experience span {
    padding-right: 10px;
    padding-left: 20px;
}

.experience .row {
    margin-top: -10px;
    margin-bottom: 0px;
}

@media ( max-width: 980px ) {
    .skills {
        margin-top: 30px;
    }
}

/* *-detail button */

.about-detail {
    margin-bottom: 10px !important;
}


.about-detail span i,
.skills-detail span i,
.education-detail span i,
.experience-detail span i{
    cursor: pointer;
}

.skills-detail {
    margin-top: 40px;
    margin-bottom: 0px !important;
}

.education-detail,
.experience-detail {
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
}


