@media (max-width: 768px) {
    .timeline.timeline .timeline-item {
        padding-left: 72px;
        padding-right: 10px;
    }

    .timeline.timeline .timeline-item.timeline-item-right,
    .timeline.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
        padding-left: 72px;
        padding-right: 10px;
    }
}
