.message-author {
    margin-top: 0;
    padding-top: 0;
}

.message-author img {
    border-radius: 150px;
    border: 1px solid #C3C3C3;
    height: 70px;
    width: 70px;
}

.leaving-message-container {
    margin-top: 50px;
    min-height: 600px;
}

.message-span:before {
    content: "";
    position: absolute;
    left: -6px;
    right: auto;
    top: 10px;
    height: 10px;
    width: 10px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;

}

.message-span {
    border: 1px solid #C3C3C3;
    min-height: 200px;
    border-radius: 8px;
}

.replay-tip{
    margin-top: -40px;
}
.replay-tip span h5{
    font-size: 1.0em;
}

.sub-reply{
    margin-top: -70px;
}

.leaving-message-form{
    margin-top: 0!important;
    margin-bottom: 200px;
    padding-top: 0!important;
}



@media only screen and (max-width: 575px) {
    .message-author img {
        float: left;
        margin-bottom: 10px;
    }

    .message-span:before {
        left: 40px;
        top: -6px;
        border: none;
        border-left: 1px solid #C3C3C3;
        border-top: 1px solid #C3C3C3;
    }

    .message-span {
        border: 1px solid #C3C3C3;
        min-height: 200px;
        border-radius: 8px;
        width: 98%;
        margin-left: 3px;
    }

    .replay-tip span h5{
        font-size: 0.9em;
    }
}
