.show-type {
    width: 100%;
    margin: 10px 0 !important;
    padding: 0 !important;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

.show-type button {
    border: 1px solid #555555;
}

.show-type .fa-list-ul {
    margin-left: 2px;
}

.show-type button:hover {
    background-color: #555555;
    color: #fff;
}

.active {
    border: 1px solid #555555;
    background-color: #555555;
    color: #fff;
}

.show-container .row span img {
    border-radius: 10px;
    transition: all 0.5s;
}

.show-container .row span img:hover {
    box-shadow: 10px 10px 10px #808080;
    transform: scale(1.1);
    cursor: pointer;
}

.modal-transparent {
    background-color: rgba(128, 128, 128, 0.2);
    border-color: rgba(128, 128, 128, 0.2);
    margin: 0 !important;
    padding: 0 !important;
}

.modal-lg-x {
    max-width: 100%;
}

.modal-transparent-header {
    margin-top: -10px !important;
    border: 0;
    padding-top: 0 !important;
}

@media only screen and (max-width: 996px) {
    .modal-transparent-header {
        margin-top: 10px;
        border: 0;
        padding-top: 10px !important;
    }
}

.photo-list {
    color: #fff;
    width: 100%;
    margin-top: 55px;
}

.photo-list-basic .row {
    height: 60px;
    vertical-align: middle;
}

.photo-list-basic .row span {
    padding: 15px 30px;
    border: 1px solid #fff;
    letter-spacing: 3px;
}

.photo-list-basic .row:nth-child(2) span,
.photo-list-basic .row:nth-child(3) span {
    border-top: 0;
}

.photo-list-basic .row:nth-child(4) span {
    border: 0px;
}

.photo-list-detail {
    padding: 0 50px;
}

@media only screen and (max-width: 996px) {
    .photo-list-detail {
        padding: 0 10px;
    }
}

.photo-list-detail .row:nth-child(1),
.photo-list-detail .row:nth-child(3){
    border-bottom: 1px solid #fff;
}

.photo-list-detail .row .col-lg-12 {
    padding-top: 14px;
    text-align: left;
}

.photo-list-detail .row:nth-child(1) p {
    font-weight: bolder;
    font-size: x-large;
    letter-spacing: 2px;
}

.photo-list-detail .row:nth-child(2) p {
    font-weight: bolder;
    font-size: larger;
    letter-spacing: 2px;
}

.tags{
    padding-bottom: 10px;
}

.tags span span {
    width: 40px;
    font-size: 15px !important;
    padding: 5px 5px;
    margin-right: 15px;
}






